/* src/App.css */
.app-container {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}

